/*? Button and Modifiers */

.button {
    display: inline-block;
    border-radius: 12px;
    padding: 13px 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    justify-content: center;
}

.button_color_yellow {
    background-color: #F2B705;
}

.button_color_blue {
    background-color: #616be8;
}

/*? Text and modifiers */

.text_title1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
}

.text_title2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.text_title3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.text_paragraph {
    font-weight: 500;
    font-size: 16px;
    color: #8b8fbb;
}

/*? Header */

.header__container {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 85px;
}

.header__icon {
    max-width: 160px;
}

.header__navigation {
    display: flex;
    gap: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/*? Hero */

.hero__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 106px;
}

.hero__title {
    margin-bottom: 16px;
    line-height: 70px;
}

.hero__paragraph {
    margin-bottom: 54px;
}

.hero__button {
    min-width: 350px;
    text-align: center;
}

.hero__background-image {
    margin-top: -197px;
    position: relative;
    z-index: -1;
}

/*? Offers */


.offers__container {
    display: flex;
    gap: 30px;
}

.offers__descriptions,
.offers__list {
    flex-basis: 50%;
}

.offers__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: normal;
}

.offers__paragraph {
    line-height: 28px;
}

.offers__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.offers__item-paragraph {
    line-height: 22px;
}

.offers__item {
    display: flex;
    align-items: start;
    gap: 30px;
}

.offers__item-title {
    margin-bottom: 16px;
}

.offers__text {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

@media (max-width: 992px) {
    .offers__container {
        flex-direction: column;
        align-items: center;
    }
}