/*? Button and Modifiers */

.button {
    display: inline-block;
    border-radius: 12px;
    padding: 13px 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    justify-content: center;
}

.button_color_yellow {
    background-color: #F2B705;
}

.button_color_blue {
    background-color: #616be8;
}

/*? Text and modifiers */

.text_title1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
}

.text_title2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.text_title3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.text_title4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.text_paragraph {
    font-weight: 500;
    font-size: 16px;
    color: #8b8fbb;
}

.input-text {
    max-width: 350px;
    width: 100%;
    padding: 13px 16px;
    border-radius: 12px;
    font-weight: 400;
    font-size: 16px;
}

.input-text::placeholder {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #8b8fbb;
}

/*? Header */

.header__container {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 85px;
}

.header__logo {
    max-width: 160px;
}

.header__navigation {
    display: flex;
    gap: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/*? Hero */

.hero__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 106px;
}

.hero__title {
    margin-bottom: 16px;
    line-height: 70px;
}

.hero__paragraph {
    margin-bottom: 54px;
}

.hero__button {
    min-width: 350px;
    text-align: center;
}

.hero__background-image {
    margin-top: -197px;
    position: relative;
}

/*? Offers */

.offers {
    background-color: #fff;
    padding-block: 82px;
}

.offers__container {
    display: flex;
    gap: 30px;
    margin-bottom: 76.4px;
}

.offers__descriptions,
.offers__list {
    flex-basis: 50%;
}

.offers__title {
    margin-bottom: 40px;
    line-height: normal;
}

.offers__paragraph {
    line-height: 28px;
}

.offers__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.offer-card__item-paragraph {
    line-height: 22px;
}

.offer-card {
    display: flex;
    align-items: start;
    gap: 30px;
}

.offer-card__item-title {
    margin-bottom: 16px;
}

.offer-card__text {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

@media (max-width: 992px) {
    .offers__container {
        flex-direction: column;
        align-items: center;
    }
}

/*? Controls */

.controls__container {
    padding-block: 76px;
}

.controls__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
    align-items: center;
}

.controls__paragraph {
    font-size: 18px;
}

.controls__items {
    display: flex;
    gap: 30px;
}

.controls__item {
    flex-basis: 33.33%;
}

/*? Request */

.request {
    background-color: #616be8;
    padding-block: 60px;
}

.request__container {
    display: flex;
    flex-direction: column;
}

.request__title {
    color: #fff;
    text-align: center;
    margin-bottom: 52px;
    line-height: 40px;
}

.request__form {
    display: flex;
    gap: 30px;
}

.request__input-text,
.request__button {
    flex-basis: 33.33%;
}

.request__button {
    padding: 13px 97px;
    font-size: 18px;
}

.request__button::placeholder {
    border-radius: 12px;
    padding: 13px 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

/*? Calculation */

.calculation__container {
    padding-block: 82px;
}

.calculation__header {
    margin-bottom: 32px;
}

.calculation__header-title {
    line-height: 73px;
    text-align: center;
}

.calculation__header-paragraph {
    line-height: 25px;
    text-align: center;
}

.calculation__calculator {
    background-color: #fff;
    border-radius: 18px;
    padding: 24px;
    margin-bottom: 45px;
}

.calculation__calculator-calculation {
    display: flex;
    justify-content: space-between;
}

.calculation__calculator-title {
    display: flex;
    font-size: 24px;
    margin-bottom: 24px;
    align-items: flex-start;
}

.calculation__header-paragraph {
    font-size: 18px;
    font-weight: 400;
}

.calculation__calculator-calculation-choice {
    display: flex;
}

.calculation__calculator-calculation-choice-checkboxes {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.calculation__calculator-calculation-choice-checkboxes-item {
    display: flex;
    margin-bottom: 16px;
}

.calculation__calculator-calculation-choice-checkboxes-item:last-child {
    margin-bottom: 0;
}

.calculation__calculator-calculation-choice-checkboxes-checkbox {
    accent-color: #f2b705;
    margin-bottom: 16px;
}

.calculation__calculator-calculation-choice-checkboxes-name {
    font-weight: 400;
    font-size: 18px;
    margin-left: 8px;
    margin-bottom: 16px;
}

.calculation__calculator-calculation-amount {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 16px;
}

.calculation__calculator-calculation-amount-input {
    background-color: #e6ebfb;
    max-width: 60px;
    border-radius: 8px;
    line-height: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

.calculation__calculator-calculation-price {
    display: flex;
    gap: 23px;
}

.calculation__calculator-calculation-price-price-item-text {
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 17px;
}

.calculation__calculator-calculation-price-price-item-text-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.calculation__calculator-calculation-price-total-item-text {
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 17px;
}

.calculation__calculator-calculation-price-total-item-text-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.calculation__calculator-total {
    background-color: #e6ebfb;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    align-items: center;
}

.calculation__calculator-total-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.calculation__calculator-total-price {
    display: flex;
    gap: 16px;
}

.calculation__calculator-total-price-day {
    background-color: #616be8;
    padding: 7px 23px;
    border-radius: 12px;
}

.calculation__calculator-total-price-day-text {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    line-height: 27px;
}

.calculation__calculator-total-price-day-text-price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    line-height: 30px;
}

.calculation__calculator-total-price-month {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

.calculation__calculator-total-price-month-price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

.calculation__button {
    padding: 13px 97px;
    font-size: 18px;
    margin-left: 292px;
}

.calculation__button::placeholder {
    border-radius: 12px;
    padding: 13px 90px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

/*? Partners */

.partners {
    background-color: #F2B705;
}

.partners__container {
    display: flex;
    flex-direction: column;
    padding-block: 50px;
}

.partners__title {
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

.partners__companies {
    display: flex;
    gap: 140px;
    align-items: center;
}

/*? Why */

.why__container {
    padding-block: 77px;
    display: flex;
    justify-content: space-between;
}

.why__title {
    margin-bottom: 32px;
}

.why__items {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.why__item {
    display: flex;
    gap: 16px;
    align-items: center;
}

.why__item:last-child {
    margin-bottom: 32px;
}

.why__item-paragraph {
    font-weight: 400;
}

.why__button {
    font-weight: 500;
    font-size: 18px;
    padding: 18px 97px;
}

/*? FAQ */

.faq {
    background-color: #fff;
}

.faq__container {
    padding-block: 84px;
    display: flex;
    justify-content: space-between;
}

.faq__items {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.faq__item {
    max-width: 570px;
    line-height: 30px;
    border-bottom: #E6EBFB 1px solid;
    padding-bottom: 16px;
}

.faq__question {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 4px;
}

.faq__answer {
    font-weight: 400;
    font-size: 16px;
    color: #8B8FBB;
}

.faq__description-title {
    color: #e5007e;
    font-weight: 400;
    margin-bottom: 24px;
}

.faq__description-subtitle {
    max-width: 350px;
}

/*? Contacts */

.contacts__container {
    padding-block: 82px;
}

.contacts__title {
    margin-bottom: 52px;
}

.contacts__items {
    display: flex;
    justify-content: space-between;
}

.contact__item {
    display: flex;
    align-items: center;
    gap: 16px;
}

/*? Footer */

.footer__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
}

.footer__navigation-copyright {
    font-family: "Manrope";
    font-weight: 400;
    font-size: 12px;
    color: #c8cced;
}