/*? Button and Modifiers */

.button {
    display: inline-block;
    border-radius: 12px;
    padding: 13px 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    justify-content: center;
}

.button_color_yellow {
    background-color: #F2B705;
}

.button_color_blue {
    background-color: #616be8;
}

/*? Text and modifiers */

.text_title1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
}

.text_title2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.text_title3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.text_title4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.text_paragraph {
    font-weight: 500;
    font-size: 16px;
    color: #8b8fbb;
}

.input-text {
    max-width: 350px;
    width: 100%;
    padding: 13px 16px;
    border-radius: 12px;
    font-weight: 400;
    font-size: 16px;
}

.input-text::placeholder {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #8b8fbb;
}

/*? Header */

.header__container {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 85px;
}

.header__icon {
    max-width: 160px;
}

.header__navigation {
    display: flex;
    gap: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/*? Hero */

.hero__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 106px;
}

.hero__title {
    margin-bottom: 16px;
    line-height: 70px;
}

.hero__paragraph {
    margin-bottom: 54px;
}

.hero__button {
    min-width: 350px;
    text-align: center;
}

.hero__background-image {
    margin-top: -197px;
    position: relative;
}

/*? Offers */

.offers {
    background-color: #fff;
    padding-block: 82px;
}

.offers__container {
    display: flex;
    gap: 30px;
    margin-bottom: 76.4px;
}

.offers__descriptions,
.offers__list {
    flex-basis: 50%;
}

.offers__title {
    margin-bottom: 40px;
    line-height: normal;
}

.offers__paragraph {
    line-height: 28px;
}

.offers__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.offer-card__item-paragraph {
    line-height: 22px;
}

.offer-card {
    display: flex;
    align-items: start;
    gap: 30px;
}

.offer-card__item-title {
    margin-bottom: 16px;
}

.offer-card__text {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

@media (max-width: 992px) {
    .offers__container {
        flex-direction: column;
        align-items: center;
    }
}

/*? Controls */

.controls__container {
    padding-block: 76px;
}

.controls__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
    align-items: center;
}

.controls__paragraph {
    font-size: 18px;
}

.controls__items {
    display: flex;
    gap: 30px;
}

.controls__item {
    flex-basis: 33.33%;
}

/*? Request */

.request {
    background-color: #616be8;
    padding-block: 60px;
}

.request__container {
    display: flex;
    flex-direction: column;
}

.request__title {
    color: #fff;
    text-align: center;
    margin-bottom: 52px;
    line-height: 40px;
}

.request__form {
    display: flex;
    gap: 30px;
}

.request__input-text,
.request__button {
    flex-basis: 33.33%;
}

.request__button {
    padding: 13px 97px;
    font-size: 18px;
}

.request__button::placeholder {
    border-radius: 12px;
    padding: 13px 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

/*? Calculation */

.calculation {}

.calculation__container {
    padding-block: 82px;
}

.calculation__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculation__title {
    line-height: 1.825;
}

.calculation__subtext {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
    max-width: 873px;
    text-align: center;
}

.calculation__form {}

.calculation__card {
    background-color: #fff;
}

.calculation__subtitle {}

.calculation__calculator {}

.calculation__row {
    display: flex;
}

.calculation__block {}

.calculation__checkbox {
    accent-color: #f2b705;
}

.calculation__checkbox-text {}

.calculation__count {}

.calculation__price-list {}

.calculation__price-item {}

/*? Partners */

.partners {
    background-color: #F2B705;
}

.partners__container {}

.partners__title {
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

.partners__company {}